KEEP_DAILY=7
UPLOAD_LIMIT_KBPS=5120
BACKUP_SCHEDULE=0 3 * * *
CHECK_SCHEDULE=0 4 * * 0
SCHEDULER_ENABLED=false
DB_BACKUP_ENABLED=true
DB_DUMP_MIN_FREE_MB=5000
PG_CONTAINER=postgres
PG_USER=bcjang
MONGO_CONTAINER=mongodb
REDIS_CONTAINER=redis
REDIS_DUMP_PATH=/home/redis_master/dump.rdb
STAGING_ROOT=/home/docker/_backup_staging
