/home/docker/_backup_staging/*.partial
**/cache
**/.cache
**/tmp
**/temp
**/*.tmp
**/*.log.[0-9]*
**/*.log.gz
/home/docker/jenkins/workspace
/home/docker/ff/cache
/home/docker/gitea/data/log
/home/docker/gitea/data/tmp
/var/lib/docker/volumes/backupstack_state
/var/lib/docker/volumes/backupstack_logs
/var/lib/docker/volumes/backupstack_staging
/var/lib/docker/volumes/backupstack_restoreout
/var/lib/docker/overlay2
/var/lib/docker/image
/var/lib/docker/containers
/var/lib/docker/buildkit
